.main {
  .container {
    width: 432px;
    background: #F8F8F8;
    box-shadow: 0 1px 24px rgba(61, 61, 61, 0.18);
    border-radius: 20px;
    margin: 48px auto;
    padding: 0 16px;

    form {
      padding-bottom: 24px;

      h2 {
        margin: 0;
        padding-top: 32px;
        padding-bottom: 16px;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 31px;
        text-align: center;
        text-transform: capitalize;
        color: #194866;
        position: relative;

        span {
          display: block;
          position: absolute;
          color: #194866;
          font-size: 20px;
          right: 15px;
          top: 10px;
          cursor: pointer;
        }

        span:hover {
          transform: rotate(360deg);
          transition: transform 0.8s;
        }
      }

      h4 {
        margin: 0;
        padding-bottom: 16px;
        text-align: center;
        border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #194866;
      }

      .email {
        margin-top: 16px;
        position: relative;

        .showErr {
          position: absolute;
          top: -10px;
          background-color: #F8F8F8;
          left: 7px;
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          color: #D80027;
        }

        input {
          width: 100%;
          height: 48px;
          border: 0.5px solid rgba(25, 72, 102, 0.8);
          border-radius: 10px;
          padding-left: 16px;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        .err {
          border-color: #D80027;
          outline: none;
        }
      }

      .submit_button {
        margin-top: 532px;

        button {
          display: block;
          background: #34C88A;
          border-radius: 10px;
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;
          width: 100%;
          height: 48px;
          padding: 12px 0;
          border: none;
          cursor: pointer;
        }

        button:disabled {
          opacity: 0.5;
        }
      }

      .recovery_code {
        margin-top: 16px;

        input {
          margin: 0;
        }

        .code_info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 8px;
          padding-top: 8px;
          border-bottom: 0.5px solid rgba(25, 72, 102, 0.5);

          span {
            display: block;
          }

          p {
            margin: 0;
            padding: 0;

            span.code_error_message {
              font-family: 'Assistant';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #D80027;
            }
          }

          span {
            text-align: right;
            font-family: 'Assistant';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-decoration-line: underline;
            color: #194866;
          }
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      span.showErr {
        display: inline-block;
        position: absolute;
        top: -13px;
        background-color: #F8F8F8;
        left: 7px;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #D80027;
        z-index: 2;
      }

      input {
        display: block;
        width: 100%;
        height: 48px;
        border: 0.5px solid rgba(25, 72, 102, 0.8);
        border-radius: 10px;
        padding: 12px 0 12px 16px;
        font-size: 16px;
        outline: none;
      }
      .err{
        border-color: #D80027;
      }
      .pass {
        position: relative;

        input {
          margin-top: 16px;
        }

        input ~ button.view_password {
          border: none;
          background: none;
          position: absolute;
          top: 10px;
          right: 16px;
          cursor: pointer;
        }

        input::placeholder {
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #194866;
        }
      }

      .done_button {
        padding-top: 24px;

        button {
          width: 100%;
          height: 48px;
          background: #34C88A;
          border-radius: 10px;
          display: block;
          padding: 12px 0;
          font-family: 'Assistant';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;
          border: none;
          cursor: pointer;
        }

        button:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .main {
    .container {
      width: 100%;
      border-radius: 0;
      margin: 0;
      box-shadow: none;

      form {
        h2 {
          span {
            right: 0;
          }
        }
      }
    }
  }
}
