<div class="main">
  <div class="container">
    <form [formGroup]="form" *ngIf="!enterCodeAndRecoverPassword">
      <h2>{{translate.translations.recover_password}} <span routerLink="">X</span></h2>
      <h4>{{translate.translations.enter_email_or_recovery_code}}</h4>
      <div class="email">
        <span class="showErr"
              *ngIf="form.controls.email.hasError('pattern') && form.controls.email.touched">{{translate.translations.email_valid}}</span>
        <input [ngClass]="{'err':form.controls.email.hasError('pattern')}" type="email" formControlName="email"
               placeholder="Email">
      </div>
      <div class="submit_button">
        <button type="button" [disabled]="form.invalid"
                (click)="userIsAuth()">{{translate.translations.send}}</button>
      </div>
    </form>
    <form [formGroup]="form2" *ngIf="enterCodeAndRecoverPassword">
      <h2>{{translate.translations.recover_password}} <span routerLink="">X</span></h2>
      <h4>{{translate.translations.enter_email_or_recovery_code}}</h4>
      <div class="recovery_code">
        <input type="number" (change)="codeEnter($event.target)" placeholder="Recovery code"
               formControlName="recoverCode">
        <div class="code_info">
          <p class="div">
            <span *ngIf="CodeError" class="code_error_message">{{translate.translations.verify_code_error}}</span>
          </p>
          <span>{{translate.translations.resend_code}}</span>
        </div>
      </div>


      <div class="pass">
        <span class="showErr" *ngIf="!confirmPassword">{{translate.translations.regist_confirm_pass}}</span>
        <span class="showErr"
              *ngIf="form2.controls.password.hasError('required') && (form2.controls.password.touched || form2.controls.password.dirty)">{{translate.translations.regist_pass_error}}</span>
        <input [formControl]="form2.controls.password"
               [ngClass]="{'err': form2.controls.password.invalid  && form2.controls.password.touched && form2.controls.password.dirty}"
               [type]="password" placeholder="{{translate.translations.password_placeholder}}"
               formControlName="password">
        <button type="button" (click)="onClick()" class="view_password">
          <img src="../../../assets/images/hidepass.png" aria-hidden="true" *ngIf="!show" alt="No images"
               class="show">
          <img src="../../../assets/images/showpass.png" aria-hidden="true" *ngIf="show" alt="No images"
               class="show">
        </button>
      </div>


      <div class="pass confirm">
              <span class="showErr"
                    *ngIf="form2.controls.confirm_password.touched && form2.controls.confirm_password.hasError('required')  && form2.controls.confirm_password.dirty">{{translate.translations.password_valid}}</span>
        <span class="showErr" *ngIf="!confirmPassword">{{translate.translations.regist_confirm_pass}}</span>
        <input [formControl]="form2.controls.confirm_password"
               [ngClass]="{'err': form2.controls.confirm_password.hasError('required')  && form2.controls.confirm_password.touched  && form2.controls.confirm_password.dirty}"
               [type]="password2" placeholder="{{translate.translations.confirm_password}}"
               formControlName="password">
        <button type="button" (click)="onClick2()" class="view_password">
          <img src="../../../assets/images/hidepass.png" aria-hidden="true" *ngIf="!show2" alt="No images"
               class="show">
          <img src="../../../assets/images/showpass.png" aria-hidden="true" *ngIf="show2" alt="No images"
               class="show">
        </button>
      </div>
      <div class="done_button">
        <button type="submit" [disabled]="resetPassword"
                (click)="confirmpassword()">{{translate.translations.done}}</button>
      </div>
    </form>
  </div>
</div>

